.cartContainer {
  margin: 10px auto;
  width: 90%;
  height: auto;
}

.cartContainer .grid {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
}
.cartItem {
  background-color: white;
  border-radius: 10px;
}

.item {
  width: 100%;
  border-bottom: solid 1px #f2f2f3;
  display: grid;
}

.item .grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.item img {
  width: 100px;
  height: 100px;
}

.editQty {
  text-align: center;
}
.remove {
  margin: 10px auto;
  width: 60%;
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 5px 0;
  cursor: pointer;
}
.payment {
  align-self: start;
  background-color: #fff;
}
.summary {
  border-top: dotted 3px #f2f2f3;
  justify-content: space-between;
}
.addQty,
.removeQty {
  display: inline !important;
  height: 40px;
  width: 40px;
  border: solid 1px gray;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.5rem;
}

.addQty:hover,
.removeQty:hover {
  color: white;
  background-color: green;
}
.error {
  position: absolute;
  width: max-content;
  height: max-content;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: rgb(138, 157, 158) 5px 15px 15px 5px;
  padding: 20px 20px;
  font-weight: 900;
  font-size: 1.5rem;
  color: green;
}
