.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: aliceblue;
}

#cartLogo {
  position: relative;
  height: 30px;
  width: 30px;
  justify-self: end;
}

.cartCounter {
  position: absolute;
}
